body{
    background-color: #ecc9c9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.logo{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.nav{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    margin:auto
}
.responsive-image{
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin: 20px auto 20px;
}

p{
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/* Mobile screen */
@media screen and (max-width: 600px) {

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 80px;
        margin-bottom: 10px;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .responsive-image {
        width: 100%;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
        padding: 10px;
    }

}