body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  background-color: bisque;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: rgb(231, 192, 192);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: blanchedalmond;
}

h1 {
  text-align: center;

}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
     background-color: rgb(206, 174, 222);
     
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  background: #eee;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}